controller:
  admin:
    username: admin
    password: admin123

  serviceType: ClusterIP

  resources:
    requests:
      cpu: "500m"
      memory: "1Gi"
    limits:
      cpu: "1"
      memory: "2Gi"

  installPlugins:
    - kubernetes
    - workflow-aggregator
    - git
    - configuration-as-code
    - credentials
    - sonar
    - docker-workflow

persistence:
  enabled: false

  additionalVolumes:
    - name: npm-cache
      persistentVolumeClaim:
        claimName: jenkins-npm-cache

  additionalVolumeMounts:
    - name: npm-cache
      mountPath: /home/jenkins/.npm

