controller:
  admin:
    username: admin
    password: admin123

  serviceType: ClusterIP

  resources:
    requests:
      cpu: "500m"
      memory: "512Mi"
    limits:
      cpu: "1"
      memory: "1Gi"

  installPlugins:
    - kubernetes
    - workflow-aggregator
    - git
    - configuration-as-code
    - credentials
    - sonar
    - docker-workflow

  containerVolumeMounts:
    - name: jenkins-home
      mountPath: /home/jenkins/.npm
      subPath: .npm

persistence:
  enabled: true
  size: 8Gi
  storageClass: standard
