community:
  enabled: true

image:
  repository: sonarqube
  tag: 25.12.0.117093-community
  pullPolicy: IfNotPresent

postgresql:
  enabled: true
  primary:
    resource:
      requests:
        cpu: "200m"
        memory: "256Mi"
      limits:
        cpu: "500m"
        memory: "512Mi"
  auth:
    username: sonar
    password: sonar
    database: sonarqube

persistence:
  enabled: true
  size: 10Gi
  storageClass: gp2

monitoringPasscodeSecretName: sonarqube-monitoring
monitoringPasscodeSecretKey: monitoringPasscode

resources:
  requests:
    cpu: "200m"
    memory: "512Mi"
  limits:
    cpu: "500m"
    memory: "1Gi"
