controller:
  admin:
    createSecret: true
    username: admin
    password: admin123

  serviceType: ClusterIP

  resources:
    requests:
      cpu: "500m"
      memory: "512Mi"
    limits:
      cpu: "1"
      memory: "1Gi"

  installPlugins:
    - kubernetes
    - workflow-aggregator
    - git
    - configuration-as-code
    - credentials
    - sonar
    - docker-workflow

persistence:
  enabled: true
  size: 8Gi
  storageClass: gp2
